<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Login Form - Code Mo</title>  
</head>
<body>
    
    <div class="container">
        <form>
            <label>FullName:</label><br>
        <input type="text"placeholder="Enter Fullname"/>
        </form><br>
        <form>
        <label>MobileNumber:</label><br>
        <input type="Number" placeholder="Enter Mobile Number"/>
        </form><br>
        <form>
        <label>Email Id:</label><br>
        <input type="text" placeholder="Enter Email Id"/>
        </form><br>
        <form>
        <label>Password:</label><br>
        <input type="password" placeholder="Enter Password"/>
        </form><br><br>
         
    
      <button type="submit" class="btn btn-primary" >SignUp </button>
      <a routerLink="/login">Already have an account,click Login!!</a>
</div>
</body>
</html>